// Primary: #e9dfe0
// Secondary: #0e0a18
// Primary Button: #4717f7
// Secondary Button: #130e20
// Accent: #a43acb

$color-primary: #3730a3;
$color-primary-light: #581c87;

$color-secondary: #ff643c;

$color-gray-dark: #374151;
$color-gray-dark-2: #1f2937;
$color-gray-dark-3: #111827;
$color-gray-light: #fafaf9;
$color-gray-light-2: #e7e5e4;
$color-gray-light-3: #d6d3d1;
$color-gray-light-4: #a8a29e;

$color-black: #000;
$color-white: #fff;
