.add-list {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
  margin-bottom: 6.4rem;

  &__title {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
  }

  &__form {
    display: flex;
    // gap: 4.8rem;
    @include respond(phone) {
      flex-direction: column;
      gap: 1.8rem;
    }
  }

  &__input {
    flex-grow: 1;
    padding: 1.8rem;
    border-radius: 999rem;
    border: none;
    background-color: $color-gray-light-2;
    color: $color-gray-dark;
    font-family: inherit;
    font-size: 1.8rem;
    transition: all 0.2s;
    transform: scaleX(0.95);

    &:focus {
      transform: scaleX(1);
      box-shadow: inset 0 0 0 2px $color-secondary;
      outline: none;

      @include respond(phone) {
        transform: translateY(-3px);
      }
    }

    @include respond(phone) {
      transform: scale(1);
    }
  }

  &__submit {
    border: none;
    background-color: $color-secondary;
    padding: 1.8rem 4.6rem;
    border-radius: 999rem;
    font-family: inherit;
    font-size: 2.4rem;
    line-height: 1;
    color: $color-gray-light;
    font-weight: 600;
    transition: all 0.2s;
    margin-left: -10rem;
    z-index: 1;

    &:hover {
      cursor: pointer;
      // transform: translateY(-0.3rem) scale(1.05);
      padding: 1.8rem 6.4rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.075);

      @include respond(phone) {
        padding: 1.8rem 4.6rem;
      }
    }

    @include respond(phone) {
      margin: 0;
      align-self: center;
    }
  }
}
