.list {
  list-style: none;
  padding: 2rem;

  &__item {
    cursor: pointer;
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 4.6rem;
  }

  &__form {
    width: 3rem;
    height: 3rem;
  }

  &__check {
    display: none;
  }

  &__label {
    position: relative;
  }

  &__btn-done {
    cursor: pointer;
    height: 3rem;
    width: 3rem;
    border: 2px solid $color-gray-light-3;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.2s;
    flex-shrink: 0;
  }

  &__btn-done:hover {
    background-color: rgba($color-secondary, 0.2);
  }

  .marker--done &__btn-done {
    background-color: rgba($color-secondary, 0.75);
  }

  &__btn-delete {
    cursor: pointer;
    border: none;
    background-color: transparent;
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    border-radius: 50%;
    transition: all 0.2s;
    flex-shrink: 0;
  }

  &__btn-delete:hover {
    background-color: $color-gray-light-3;
  }

  &__text {
    position: relative;
    font-size: 1.8rem;
    flex-grow: 1;
    line-height: 1;
  }

  &__text:hover {
    color: $color-gray-light-4;
    text-decoration: line-through;
  }

  .marker--done &__text {
    color: transparent;
    text-shadow: 0 0 1px $color-gray-light-4;
    text-decoration: line-through;
  }

  .marker--done &__text-line {
    left: 0;
    width: 100%;
  }
}
